[mcp_servers.johnny-five]
command = 'C:\Program Files\nodejs\node.exe'
args = ['C:\Program Files\nodejs\node_modules\npm\bin\npx-cli.js', '-y', 'supergateway@3.4.3', '--sse', 'http://127.0.0.1:8787/sse/']
startup_timeout_sec = 60
tool_timeout_sec = 60
enabled = true
required = true
